@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500');
/*
 * Globals
 */
body-color = #fff
text-color = rgba(0,0,0,.8)
text-hover = rgba(0,0,0,.6)
link-color = rgba(0,0,0,.5)
link-hover = rgba(0,0,0,.4)
/* Links */
a
  color link-color
a:focus,a:hover
  color link-hover

/* Custom default button */
.btn-default
  &,&:hover,&:focus
    color #333
    text-shadow none
    background-color #fff
    border 1px solid #fff
/*
 * Base structure
 */

html,body
  height: 100%;
  background-color: body-color;

body
  color text-color
  text-align center

/* Padding for spacing */
.inner
  padding 30px

.top-content
    font-family "Source Code Pro", "Lucida Console", Monaco, monospace
    font-weight 500
    font-size 10px
    white-space pre-wrap
    text-align left
    padding 5px
    background-color rgba(0,0,0,.25)
    border 2px solid rgba(0,0,0,.5)
    overflow scroll
    width 100%
    height 100%
    box-shadow 0 5px 10px 0px #777
    border-radius 1px

#links p
  text-align left
  margin-left 30px
/*
 * Header
 */
.masthead
  border-bottom 4px solid rgba(0,0,0,.8)

.masthead-brand
  margin-top: 10px;
  margin-bottom: 10px;


.masthead-nav
  & > li
    display inline-block
  & > li + li
    margin-left: 20px;
  & > li > a
    padding 20px 5px
    padding-bottom 10px
    font-size 16px
    font-weight: bold
    color text-hover
    border-bottom 2px solid transparent
    &:hover,&:focus
      background-color transparent
      color link-hover

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus
  color text-color
  border-bottom-color text-color

.cover
  padding 0 20px

/*
 * Footer
 */

.mastfoot
  margin 30px auto 0 auto
  padding-top 10px
  border-top 1px solid rgba(0,0,0,.8)
  color text-color
  height 80px

/*
 * Affix and center
 */

@media (min-width: 768px)
  .masthead-brand
    float: left

  .masthead-nav
    float right
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container
    width 100% /* Must be percentage or pixels for horizontal alignment */
  .top-content
    height 500px

@media (min-width: 992px)
  .masthead,
  .mastfoot,
  .cover-container
    width 900px

@media (min-width: 1200px)
  .masthead,
  .mastfoot,
  .cover-container
    width 1170px