/* custom */
/*
 * Globals
 */
body-color = #fff
text-color = rgba(0,0,0,.8)
text-hover = rgba(0,0,0,.6)
link-color = rgba(0,0,0,.5)
link-hover = rgba(0,0,0,.4)
/* Links */
a
    color link-color
a:focus,a:hover
    color link-hover

/* Custom default button */
.btn-default
  &,&:hover,&:focus
    color #333
    text-shadow none
    background-color #fff
    border 1px solid #fff
/*
 * Base structure
 */

html,body
  height: 100%;
  background-color: body-color;

body
  color: text-color;
  text-align: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,.5);

.cover-container
  margin-right: auto;
  margin-left: auto;


/* Padding for spacing */
.inner
  padding: 30px;

#links p
  text-align left
  margin-left 30px
/*
 * Header
 */
.masthead
  border-bottom 4px solid rgba(0,0,0,.8)

.masthead-brand
  margin-top: 10px;
  margin-bottom: 10px;


.masthead-nav
  & > li
    display inline-block
  & > li + li
    margin-left: 20px;
  & > li > a
    padding 20px 5px
    padding-bottom 10px
    font-size 16px
    font-weight: bold
    color text-hover
    border-bottom 2px solid transparent

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus
  background-color transparent
  color link-hover

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus
  color text-color
  border-bottom-color text-color


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}


/*
 * Footer
 */

.mastfoot {
  color: text-color; /* IE8 proofing */
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}